language: python
os:
    - linux
python:
    - '2.7'
    - '3.3'
    - '3.4'
    - '3.5'
    - '3.6'
    - 3.7-dev
    - nightly
    - pypy
cache: python
install: pip install tox
script: tox -e py
notifications:
    email:
        on_success: never
matrix:
    fast_finish: true
    allow_failures:
        - python: 3.7-dev
        - python: nightly
        - python: pypy
